@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 175 100% 100%;
    --foreground: 175 5% 10%;
    --card: 175 50% 100%;
    --card-foreground: 175 5% 15%;
    --popover: 175 100% 100%;
    --popover-foreground: 175 100% 10%;
    --primary: 175 37.5% 40.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 175 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 137 30% 95%;
    --muted-foreground: 175 5% 40%;
    --accent: 137 30% 90%;
    --accent-foreground: 175 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 175 5% 100%;
    --border: 175 30% 82%;
    --input: 175 30% 50%;
    --ring: 175 37.5% 40.8%;
    --radius: 1rem;
  }
  .dark {
    --background: 338 10% 10%;
    --foreground: 338 0% 100%;
    --card: 338 0% 10%;
    --card-foreground: 338 0% 100%;
    --popover: 338 10% 5%;
    --popover-foreground: 338 0% 100%;
    --primary: 338 100% 73.7%;
    --primary-foreground: 0 0% 0%;
    --secondary: 338 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 300 10% 25%;
    --muted-foreground: 338 0% 65%;
    --accent: 300 10% 25%;
    --accent-foreground: 338 0% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 338 0% 100%;
    --border: 338 20% 50%;
    --input: 338 20% 50%;
    --ring: 338 100% 73.7%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  h1 {
    font-size: theme(fontSize.5xl);
  }
  h2 {
    font-size: theme(fontSize.4xl);
  }
  h3 {
    font-size: theme(fontSize.3xl);
  }

  .code-block {
    padding: theme(spacing.4);
    background: theme(colors.muted.DEFAULT);
    border-radius: theme(borderRadius.xl);
    overflow-x: auto;
    height: max-content;
  }
}

body {
  overflow: hidden;
}

#root {
  padding: theme(padding.2) theme(padding.2) 0;
  max-width: 1600px;
  margin: 0 auto;

  @media screen(lg) {
    padding: theme(padding.4) theme(padding.4) 0;
  }
}

.code-editor {
  border-radius: theme(borderRadius.lg);
  min-height: 300px;
}

.default-header-button {
  display: flex;
  gap: theme(gap.2);
  padding: theme(padding.4) theme(padding.2);
}

.default-header-button svg {
  width: 1rem;
  height: 1rem;
}

.data-\[state\=closed\]\:slide-out-to-left[data-state="closed"] {
  --tw-exit-translate-x: -100%;
}

.data-\[state\=open\]\:slide-in-from-left[data-state="open"] {
  --tw-enter-translate-x: -100%;
}

.output {
  display: flex;
  flex-direction: column;
  gap: theme(spacing.2);
  height: 100%;

  @media screen(lg) {
    gap: theme(spacing.4);
  }
}

.output-controls {
  display: flex;
  gap: theme(spacing.4);
}

.output-sequence {
  overflow-y: auto;
  overflow-x: auto;
}

.instruction {
  display: flex;
  justify-content: space-between;
  text-align: left;
  gap: theme(spacing.2);
  cursor: pointer;
  padding: theme(spacing.4);
  border-radius: theme(borderRadius.md);
  position: absolute;
  max-width: 240px;
  width: 100vw;
  color: theme(colors.foreground);
  background: theme(colors.secondary.DEFAULT);
  border: 1px solid theme(colors.primary.DEFAULT);
  white-space: break-spaces;
  z-index: 1000;
}

.instruction::after {
  content: "→";
  font-size: theme(fontSize.lg);
}

.instruction-top {
  bottom: 100%;
  left: 50%;
  translate: -50% -8px;
}

.instruction-left {
  right: 100%;
  top: 50%;
  translate: -8px -50%;
}

.instruction-right {
  left: 100%;
  top: 50%;
  translate: 8px -50%;
}

.instruction-bottom {
  top: 100%;
  left: 50%;
  translate: -50% 8px;
}
